name: Frontend Deploy

on:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Build step (demo)
      run: echo "building frontend app..."

    - name: Deploy to frontend server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.FRONTEND_HOST }}
        username: ubuntu
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 22
        script: |
          cd uptime-kuma
          sudo docker-compose pull
          sudo docker-compose up -d
